.vbox {
    -fx-spacing: 7;
    -fx-padding: 10 10 10 10;
    -fx-background-color: #c5eee4;
    -fx-pref-height: 300;
    -fx-pref-width: 200;
    -fx-border-radius: 1px;
    -fx-border-color: black;
}